<h2>Checkpoints (Metro Manila)</h2>
<p>
  Provides information to where checkpoints are, if you are mandated to go to work and is by a vehicle,
  this will help you with your travel path. <br>
  NOTE: At the moment, this is only available for Metro Manila. Will update soon as info. is available.
</p>
<div class="row">
  <div class="col-md-3" *ngFor="let c of checkpoints">
    <div class="card">
      <div class="card-header">&nbsp;<span class="fa fa-map-marker"></span> &nbsp; <b>{{c.city}}</b> ({{c.type}})</div>
      <div class="card-body">
        {{c.location}} <br>
        <div class="c">
          <a
            href="https://www.google.com/maps/search/?api=1&query={{c.lat}},{{c.lng}}"
            target="_blank"
            class="btn btn-outline-info rounded">
            See Map </a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

