<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="assets/img/covid-19.png" alt="Covid-19 Image" style="float: left;margin-top: 0px" height="25"
           width="25">
      &nbsp; {{title}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let route of routes; index as i">
          <a class="nav-link" href="#" routerLink="{{route.link}}">
            <span class="fa fa-hashtag"></span>  &nbsp;
            {{route.text}}</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/strifejeyz" target="_blank">
            <span class="fa fa-code-branch"></span>
            Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/strifejeyz/covid-19-tracker-ph" target="_blank">
              <span class="fa fa-code-branch"></span> Source Code
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.buymeacoffee.com/9BqcPXS" target="_blank">
            <span class="fa fa-coffee"></span>
            Buy me a coffee?
          </a>
        </li>
      </ul>
    </div>

</nav>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-12">
      <br>
      <br>
      <app-footer></app-footer>
    </div>
  </div>
</div>
