::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(75, 75, 75, 0.3);
  background: #777777;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  -webkit-box-shadow: inset 0 0 3px #242424;
}

table tr td,
table tr th {
  font-size: 13px;
  vertical-align: middle !important;
}

table {
  /*border: 2px solid #2c2c2c*/
}

table tr td {
  padding: 5px;
}


.badge.rounded {
  width: 100%;
  padding: 7px
}

.status {
  vertical-align: middle !important;
}
