<div class="row">
  <div class="col-md-12">
    <div class="table-responsive table-responsive-sm" style="overflow-y:auto; height: 768px !important;border: 1px solid #2c2c2c">
      <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Case#</th>
          <th>Date</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Nationality</th>
          <th>Hospital</th>
          <th>Travel&nbsp;History</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of data">
          <td>{{p.case_no}}</td>
          <td style="width: 100px">{{p.date}}</td>
          <td>{{p.age}}</td>
          <td>{{p.gender}}</td>
          <td>
              <img *ngIf="p.nationality == 'Chinese'" src="https://www.countryflags.io/CN/flat/32.png" width="25" alt="{{p.nationality}} flag">
              <img *ngIf="p.nationality == 'Filipino'" src="https://www.countryflags.io/PH/flat/32.png" width="25" alt="{{p.nationality}} flag">
              <img *ngIf="p.nationality == 'Thai'" src="https://www.countryflags.io/TH/flat/32.png" width="25" alt="{{p.nationality}} flag">
              <img *ngIf="p.nationality == 'Taiwanese'" src="https://www.countryflags.io/TW/flat/32.png" width="25" alt="{{p.nationality}} flag">
              <img *ngIf="p.nationality == 'American'" src="https://www.countryflags.io/US/flat/32.png" width="25" alt="{{p.nationality}} flag">&nbsp;{{p.nationality}}
          </td>
          <td>{{p.hospital_admitted_to}}</td>
          <td>{{p.had_recent_travel_history_abroad}}</td>
          <td class="status">
            <span class="badge rounded" [class.badge-danger]="p.status=='Died'" [class.badge-success]="p.status == 'Recovered'" [class.badge-warning]="p.status == 'Admitted'">
              {{p.status}}
            </span>
          </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

