/* You can add global styles to this file, and also import other style files */

html, body {
  font-size: 14px;
}

body {
  background: #efefef !important;
}

* {
  border-radius: 0 !important
}

.title {
  color: #555555;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.title small {
  color: #777;
  font-size: 14px;
}

.c {
  text-align: center;
}

.b {
  font-weight: bold;
}

.well {
  background: white;
  border: 1px solid #ebebeb
}


.npm {
  padding: 0;
  margin: 0
}
